@model HotelBookingApp.ViewModel.RegisterViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*
<h1>Register User</h1>

<form asp-controller="Account" asp-action="Register" method="post">
    <div asp-validation-summary="All" class="text-danger">
    </div>
    <div>
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div>
        <label asp-for="LastName"></label>
        <input asp-for="LastName" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>s
    </div>
    <div>
        <label asp-for="PhoneNumber"></label>
        <input asp-for="PhoneNumber" />
        <span asp-validation-for="PhoneNumber"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword"></span>
    </div>
    <button type="submit">Register</button>
</form>*@

  <!-- Favicons -->
  <link href="~/img/favicon.png" rel="icon">
  <link href="~/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="~/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="~/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="~/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="~/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="~/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="~/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="~/vendor/simple-datatables/style.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="~/css/stylesheet.css" rel="stylesheet">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
             
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
        
             @* <div class="d-flex justify-content-center py-4">
                <a href="index.html" class="logo d-flex align-items-center w-auto">
                  <img src="~/img/logo.png" alt="">
                  <span class="d-none d-lg-block">Hotel Room Booking</span>
                </a>
              </div><!-- End Logo -->*@

              <div class="card mb-3">

                <div class="card-body">
            
                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Create an Account</h5>
                    <p class="text-center small">Enter your personal details to create account</p>
                  </div>
                        @if (ViewBag.IsSuccess == true)
                        {
                            <div class="alert alert-success" role="alert">
                                Password has been updated successfully
                            </div>
                        }
                 <form asp-controller="Account" asp-action="Register" method="post">
                    <div class="col-12">
                    <label asp-for="FirstName" class="form-label">First Name</label>
                                            
                      <input  class="form-control" asp-for="FirstName" required>
                                            <span asp-validation-for="FirstName"></span>
                    </div>
                     <div class="col-12">
                    <label asp-for="LastName" class="form-label">Last Name</label>
                                            
                      <input  class="form-control" asp-for="LastName" required>
                                            <span asp-validation-for="LastName"></span>
                    </div>

                    <div class="col-12">
                    <label asp-for="Email" class="form-label">Your Email</label>

                    <input  class="form-control" asp-for="Email" required>
                                            <span asp-validation-for="Email"></span>
                    </div>
                            <div class="col-12">
                                <label asp-for="PhoneNumber" class="form-label">Your Phone Number</label>

                                <input  class="form-control" asp-for="PhoneNumber" required>
                                <span asp-validation-for="PhoneNumber"></span>
                            </div>

                    <div class="col-12">
                                <label asp-for="Password" class="form-label">Password</label>
                                            
                      <input class="form-control" asp-for="Password" required>
                                            <span asp-validation-for="Password"></span>
                    </div>

                    <div class="col-12">
                                <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
                                            
                      <input class="form-control" asp-for="ConfirmPassword" required>
                                            <span asp-validation-for="ConfirmPassword"></span>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <label class="form-check-label">  </label>
                        <label class="form-check-label">  </label>
                      </div>
                    </div>
                    <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Create Account</button>
                    </div> 
                  </form>
                        <div class="col-12">
                            <p class="small mb-0">Already have an account? <a asp-action="Login" asp-controller="Account">Log in</a></p>
                        </div>
                </div>
              </div>

              <div class="credits">
                Designed by Ivhan and Mark
              </div>

            </div>
          </div>
        </div>

      </section>

  <!-- Vendor JS Files -->
  <script src="~/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="~/vendor/chart.js/chart.umd.js"></script>
  <script src="~/vendor/echarts/echarts.min.js"></script>
  <script src="~/vendor/quill/quill.min.js"></script>
  <script src="~/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="~/vendor/tinymce/tinymce.min.js"></script>
  <script src="~/vendor/php-email-form/validate.js"></script>

  <!-- Main JS File -->
  <script src="~/js/main.js"></script>
